Part-b/workflow-b2-scheduled-fetch.json
{
  "name": "Scheduled Fetch Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -176,
        -64
      ],
      "id": "03f8628d-c79f-48c8-94d8-89c7ec87ac85",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://universities.hipolabs.com/search?country=United+Kingdom",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        32,
        -64
      ],
      "id": "9d267832-a3cc-4d4d-a6b7-87dc8ab89b8d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "const rawList = $input.all();\n\nconst universities = rawList.flatMap(item => {\n  const data = Array.isArray(item.json) ? item.json : [item.json];\n  return data;\n});\n\nconst filtered = universities.filter(u => u.web_pages && u.web_pages.length > 0);\n\nfiltered.sort((a, b) => a.name.localeCompare(b.name));\n\nconst results = filtered.slice(0, 50).map(u => ({\n  universityName: u.name,\n  country: u.country,\n  countryCode: u.alpha_two_code,\n  primaryWebsite: u.web_pages[0],\n  domain: u.domains ? u.domains[0] : 'N/A',\n  fetchedAt: new Date().toISOString(),\n}));\n\nreturn results.map(r => ({ json: r }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -64
      ],
      "id": "b4782486-42c6-4eb8-a779-3820408c0ec5",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "75ea49cf-3f39-4419-85ec-16e9242562c7",
              "name": "UniversityName",
              "value": "={{ $json.universityName }}",
              "type": "string"
            },
            {
              "id": "ab709ee3-e2e8-480d-b010-012f48feb3df",
              "name": "Country",
              "value": "={{ $json.country }}",
              "type": "string"
            },
            {
              "id": "34353fac-fda1-436b-8084-25999006320d",
              "name": "CountryCode",
              "value": "={{ $json.countryCode }}",
              "type": "string"
            },
            {
              "id": "15fff6b9-8f27-4e95-92dd-1d1ecb66b731",
              "name": "PrimaryWebsite",
              "value": "={{ $json.primaryWebsite }}",
              "type": "string"
            },
            {
              "id": "c1920d86-eade-43d3-8418-f476a2d6540e",
              "name": "Domain",
              "value": "={{ $json.domain }}",
              "type": "string"
            },
            {
              "id": "f50979d7-a31f-409c-bd3c-09cf5d4eeba2",
              "name": "FetchedAt",
              "value": "={{ $json.fetchedAt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        -64
      ],
      "id": "561ab385-483a-45ba-8956-e4d6fc13903e",
      "name": "Set — Clean Labelled Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Set — Clean Labelled Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "3696858b-68de-4301-8ab5-00146589e64b",
  "meta": {
    "instanceId": "453a9a74a77a3ba81508094e39ae3c010132d63a07913da9b34c4f0d8ca4b1ee"
  },
  "id": "mTeMoZ5stl6zuG7p",
  "tags": []
}

